/* GOOGLE FONT IMPORT
 *********************************/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

/* PARTIALS
***********************************/
@import '../partials/layout.scss'; // responsive grid and media queries html 
@import '../partials/mixins.scss'; //custom mixins
@import '../partials/variables.scss'; // colors, fonts etc..

/*CUSTOM CSS
**********************************/

*,
:before,
:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* NAVBAR CUSTOM
***********************************/
.navbar-custom{
	padding: 1rem;
	background-color: transparent;
	& a{
		font-family: $primary-font;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 0.1rem;	
		color: $color-6;
	}
	li.nav-item.active{
	background-color: $color-8 !important;
   }
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out
}
.nav-item{
	&:hover,
	&:focus,
	{
		background-color: rgba($color-6, 0.8);
		border: 1px solid $color-8;
		margin: -1px; 
		a{
			color: $color-7;
		}
	}
	
}
.active{
  background-color: $color-8;
  color: $color-7;
   -webkit-transition: background 2s ease-in-out;
    -moz-transition: background 2s ease-in-out;
    transition: background 2s ease-in-out
}

.navbar-custom.top-nav-collapse{
	background-color: red;
	padding:{
		top: 0;
		bottom: 0;
	}
	background-color: rgba($color-7, 0.6);
	border-bottom: 1px solid $color-6;
}
.navbar-toggler{
	border: 1px solid $color-6;

	& i {
		color: $color-6;
		margin: .2rem
	}
}

/* SECTION PART
************************************/
#section-home{
	background-color: $color-1;
	height: 100%; 
}
#section-about{
	background-color: $color-2;
	height: 100%;
}
#section-portfolio{
	background-color: $color-3;
	height: 100%;
}
#section-blog{
	background-color: $color-4;
	height: 100%;
}
#section-contact{
	background-color: $color-5;
	height: 100%;
}
