/* Colors
 ===========================*/
$color-1: #4089a6; // Steel Blue
$color-2: #283040; // Ebony Clay
$color-3: #048507; // Green
$color-4: #00855E; // Dirty blue
$color-5: #B48404; // Dirty yellow

/*Fonts
============================*/

$primary-font: 'Open Sans', sans-serif;;


/*Font size 
============================*/
$font-size-1: 1rem;
