/* Colors
 ===========================*/
$color-1: #4089a6; // Steel Blue
$color-2: #283040; // Ebony Clay
$color-3: #048507; // Green
$color-4: #00855E; // Dirty blue
$color-5: #B48404; // Dirty yellow
$color-6: #ffffff; // White color
$color-7: #000000; // Black color
$color-8: #ED3237; // Sensitive Red color

/*Fonts
============================*/

$primary-font: 'Titillium Web', sans-serif;


/*Font size 
============================*/
$font-size-1: 1rem;
